.add-node-container{
    padding: 10px 10px 0px 10px;

    img {
        width: 20px;
        height: 15px;
        margin-right: 5px;
    }

    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 5px 5px;
        font-size: 12px;
        margin: 2px;
        cursor: pointer;
    }
}
